@import "../../../logic/constants/_colors";

.SignUp {
  width: 100%;
  height: 100%;

  // min-height: 289px;

  display: flex;
  justify-content: center;

  cursor: default;
}

.SignUp_Panel {
  width: 31.25%; // 600 / 1920
  // height: 64.8148148%; // 700 / 1080
  height: 70%;

  min-width: 320px;
  max-width: 600px;
  min-height: 477px;
  max-height: 700px;

  position: relative;

  top: 8.8541666%; // 170 / 1920

  // max-width: 730px;
  // min-height: 289px;
  // max-height: 365px;

  // display: grid;
  // grid-template-columns: 50% 50%;
  // grid-template-rows: 100%;
}

.SignUp_Panel__style {
  border: 1px solid $greyBorderColor;
  box-sizing: border-box;
  border-radius: 8px;

  font-size: 16px;
}

.Panel_GoBackIcon__size {
  width: 4.3333333%; // 26 / 600
  height: 4.1428571%; // 29 / 700
  min-width: 17px;
  min-height: 20px;
}

.Panel_GoBackIcon__layout {
  position: absolute;

  top: 7%; // 49  / 700
  left: 10%; // 60  / 600
}

.Panel_GoBackIcon__style {
  cursor: pointer;
}

.Panel_HeadText__style {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 1.2em; // 24 / 16

  color: $blackTextColor;
}

.Panel_HeadText__layout {
  position: absolute;

  top: 6%; // 42 / 700
  left: 25%; // 150 / 600
}

.Panel_ProgressPoint__size {
  width: 1.7142857%; // 12 / 700
  height: 2%; // 12 / 600
  min-width: 6px;
  min-height: 10px;
}

.Panel_ProgressPointFirst__layout {
  position: absolute;

  top: 8.5714285%; // 60 / 700
  left: 81.5%; // 489 / 600
}

.Panel_ProgressPointSecond__layout {
  position: absolute;

  top: 8.5714285%; // 60 / 700
  left: 84.8333333%; // 509 / 600
}

.Panel_ProgressPointThird__layout {
  position: absolute;

  top: 8.5714285%; // 60 / 700
  left: 88%; // 528 / 600
}

.Panel_InfoText__style {
  color: $greyTextColor;
  font-size: 0.875em; // 14 / 16
  font-family: Roboto, sans-serif;
}

.Panel_InfoText__layout {
  position: absolute;

  top: 12.5714285%; // 88 / 700
  left: 25%; // 150 / 600
}

.Panel_WarningText__style {
  color: $lightMainColor;
  font-size: 0.875em; // 14 / 16
  font-family: Roboto, sans-serif;
}

.Panel_WarningText__gender_layout {
  position: absolute;

  top: 37.4285174%; // 262 / 700
  left: 25%; // 150 / 600
}

.Panel_WarningText__dateOfBirth_layout {
  position: absolute;

  top: 59.4285714%; // 416 / 700
  left: 25%; // 150 / 600
}

.Panel_Buttons {
  width: 50%; // 300 / 600
  height: 6.2857142%; // 44 / 700

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Panel_Buttons__layout {
  position: absolute;

  top: 44%; // 308 / 700
  left: 25%; // 150 / 600
}

/* Скрываем реальный чекбокс */
.Label_Checkbox {
  display: none;
}

.Label_Checkbox__custom {
  position: relative;
  width: 8.5106382%; // 20 / 235
  height: 43.4782608%; // 20 / 46
  border: 1px solid $inputBorderColor;
  border-radius: 5px;
}

.Label_Checkbox__custom,
.Panel_Label {
  display: inline-block;
  vertical-align: middle;
}

.Panel_Label__layout {
  position: absolute;

  top: 48.7142857%; // 320 / 700
  left: 25%; // 150 / 600

  display: flex;
  align-items: center;
}

.Panel_Label__size {
  width: 39.1666666%; // 235 / 600
  height: 6.5714285%; // 46 / 700
  min-width: 132px;
}

.Panel_Label__style {
  cursor: pointer;
}

.Panel_ErrorMessage__style {
  color: $errorTextColor;

  font-size: 0.8125em; // 13 / 16
  font-family: Roboto, sans-serif;
}

.Panel_ErrorMessage__layout {
  position: absolute;

  top: 64.4285714%; // 451 / 700
  right: 25%; // 150 / 600
}

.Label_Checkbox:checked + .Label_Checkbox__custom::before {
  content: ""; /* Add pseudo-element */
  display: block;
  position: absolute;

  top: 10%; // 2 / 20
  right: 10%; // 2 / 20
  bottom: 10%; // 2 / 20
  left: 10%; // 2 / 20
  background: $mainColor;

  border-radius: 3px;
}

.Label_Text__style {
  font-size: 0.75em; // 14 / 16
  font-family: Roboto, sans-serif;
  font-style: italic;
  color: $inputBorderColor;
}

.Label_Text__layout {
  display: block;
  position: absolute;

  left: 14.4680851%; // 34 / 235
}

.LabelText_PrivatePolict__style {
  text-decoration: underline;
}

.InfoText_Link__style {
  text-decoration: underline;
}
