@import "../../../../logic/constants/_colors";

.Panel_BottomInfoPanel__size {
  width: 100%;
  height: 5.8571428%; // 41 / 700
}

.Panel_BottomInfoPanel__style {
  background: $bottomInfoPanelColor;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.Panel_BottomInfoPanel__layout {
  position: absolute;

  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.BottomInfoPanel_InfoText__style {
  font-family: Roboto, sans-serif;
  font-size: 0.875em; // 14 / 16
  font-style: italic;
}

.InfoText_Link__style {
  text-decoration: underline;
  color: inherit;
}
