.DatePickerCustomized__layout_signUp {
  position: absolute;

  top: 64.2857143%; // 450 / 700
  left: 38%; // 228 / 600

  display: flex;
  align-items: center;
}

.DatePickerCustomized__size_signUp {
  width: 23.5%; // 141 / 600
  min-width: 88px;
  height: 6%; // 42 / 700
}

.DatePickerCustomized_EditIcon__size {
  width: 14.1843972%; // 20 / 141
  height: 47.6190476%; // 20 / 42
}

.DatePickerCustomized_EditIcon__layout {
  position: absolute;

  // right: 0;
  left: 85.106383%; // 120 / 141
}

.DatePickerCustomized_EditIcon__style {
  color: #b2b0bd;
}
