@import "../../../../logic/constants/_colors";

.PointButton__layout {
  position: absolute;

  top: 14.6296296%; // 158 / 1080
}

.PointButton__size {
  // width: 69.0140845%; // 490 / 710
  // height: 45.3703704%; // 490 / 1080

  // You will have to adapt the size of the Point box to the different sizes of screens

  width: 300px;
  height: 300px;
}

// Styles for the WaitingPoints
.PointButton_WaitingPointOuter {
  cursor: pointer;
}

.PointButton_WaitingPointOuter__layout {
  position: absolute;
  top: 29.1836734%; // (100% - 41.6326531%) / 2
  left: 29.1836734%; // (100% - 41.6326531%) / 2
}

.PointButton_WaitingPointOuter__size {
  width: 41.6326531%; // 204 / 490
  height: 41.6326531%; // 204 / 490
}

.PointButton_WaitingPointMiddle__layout {
  position: absolute;
  top: 30.4081632%; // (100% - 39.1836735%) / 2
  left: 30.4081632%; // (100% - 39.1836735%) / 2
}

.PointButton_WaitingPointMiddle__size {
  width: 94.1176471%; // 192 / 204
  height: 94.1176471%; // 192 / 204
}

.PointButton_WaitingPointMiddle__style {
  border-radius: 50%;
  background: linear-gradient(-45deg, white, $redPointColor);

  animation: Gradient 2s linear infinite;
}

.PointButton_WaitingPointInner__size {
  width: 88.5416667%; // 170 / 192
  height: 88.5416667%; // 170 / 192
}

// .PointButton__layout_inner,
.PointButton_WaitingPointOuter__layout_inner,
.PointButton_WaitingPointMiddle__layout_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PointButton_WaitingPointOuter__style,
.PointButton_WaitingPointInner__style,
.PointButton_ActivePoint__style {
  border-radius: 50%;
  background-color: $redPointColor;
}

@keyframes Gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Styles for the ActivePoint

.PointButton_ActivePoint__layout {
  position: absolute;

  top: 32.6530612%; // 160 / 490
  left: 32.6530612%; // 160 / 490
}

.PointButton_ActivePoint__size {
  width: 34.6938776%; // 170 / 490
  height: 34.6938776%; // 170 / 490
}

.PointButton_ActivePoint__style_animation {
  animation: Pulsing 4s linear infinite;
}

.PointButton_ActivePoint__style_animationDelay500 {
  animation-delay: 1000ms;
}

.PointButton_ActivePoint__style_animationDelay1000 {
  animation-delay: 2000ms;
}

.PointButton_ActivePoint__style_animationDelay1500 {
  animation-delay: 3000ms;
}

@keyframes Pulsing {
  0% {
    background-color: $redPointColor;
  }

  25% {
    transform: scale(1.47058824);
    background-color: $secondRedPointColor;
  }

  50% {
    transform: scale(1.94117647);
    background-color: $thirdRedPointColor;
  }

  75% {
    transform: scale(2.41176471);
    background-color: $fourthRedPointColor;
  }

  100% {
    transform: scale(2.88235294);
    background-color: $fifthRedPointColor;
  }
  // 100% {
  //     transform: rotate(360deg);
  // }
}
