// Background`s colors
$greyBackgroundColor: #c8c4ce;
$headerBackgroundColor: #e5fdff;

// Main colors for the Point Button
$orangePointColor: #ee7752;
$bluePointColor: #23a6d5;
$greenPointColor: #23d5ab;
$redPointColor: #fb6592;
$secondRedPointColor: rgba(251, 101, 146, 0.2);
$thirdRedPointColor: rgba(251, 101, 146, 0.1);
$fourthRedPointColor: rgba(251, 101, 146, 0.05);
$fifthRedPointColor: rgba(251, 101, 146, 0.02);

// Border`s colors
$greyBorderColor: #eaeaea;
$headerBorderColor: rgba(0, 0, 0, 0.07);
$inputBorderColor: #68647c;
$pinkBorderColor: rgba(251, 101, 146, 0.1);

// Text`s colors
$greyTextColor: #b2b0bd;
$greyLightTextColor: #dad9e0;
$blackTextColor: #413c58;
$errorTextColor: #fc96af;
$menuTextColor: #6b6784;

// Genders` colors
$maleColor: #9391f8;
$femaleColor: #fc96af;

// Colors that are just in use because of the design :)
$mainColor: #8747e7;
$lightMainColor: #9492f2;
$bottomInfoPanelColor: rgba(122, 255, 255, 0.2);
