@import "../../../../logic/constants/_colors";

.Avatar__size_border {
  height: 9.7777778%; // 105.6 / 1080
}

.Avatar__size {
  height: 100%;
}

.Avatar__style {
  border-radius: 50%;
}

.Avatar__style_border {
  padding: 2px;
  border-radius: 50%;
}

.Avatar__size_border_male {
  border: 1px solid $maleColor;
}

.Avatar__size_border_female {
  border: 1px solid $femaleColor;
}

.Avatar__layout {
  position: relative;

  top: 10.5555556%; // 114 / 1080
}
