@import "../../../../../logic/constants/_colors";

.AgeSelector__size_signUp2 {
  width: 50%; // 300 / 600
  height: 14.7157143%; // 103 / 700
}

.AgeSelector__layout_signUp2 {
  position: absolute;
  top: 55.2857143%; // 387 / 700
  left: 25%; // 150 / 600

  display: grid;
  grid-template-columns: 27.8966667% 27.8966667% 27.8966667%;
  grid-template-rows: 38.9320388% 38.9320388%;
  grid-column-gap: 8.1533333%;
  grid-row-gap: 20.4563107%;
}
