@import "../../../../logic/constants/_colors";

.Button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  cursor: pointer;
}

.Button__borderRadius_8 {
  border-radius: 8px;
}

.Button__borderRadius_5 {
  border-radius: 5px;
}

.Button__size_startingPage {
  width: 67.1232877%; // 245 / 365
  height: 14.2465753%; // 52 / 365
}

.Button__size_signUpPageGender {
  width: 35.2%; // 106 / 300
  // height: 6.2857142%; // 44 / 700
  height: 100%;
}

.Button__size_signUpPageNext {
  width: 50%; // 300 / 600
  height: 7.1428571%; // 50 / 700
}

.Button__layout_signUpPageNext {
  position: absolute;

  top: 77.7142857%; // 544 / 700
  left: 25%; // 150 / 600
}

.Button__size_signUpPage2 {
  width: 100%;
  height: 100%;
}

.Button__layout_signUpPage2Age1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.Button__layout_signUpPage2Age2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.Button__layout_signUpPage2Age3 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.Button__layout_signUpPage2Age4 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.Button__layout_signUpPage2Age5 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.Button__layout_signUpPage2Age6 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.Button__layout_signUpPage3 {
  position: absolute;

  top: 56.2857142%; // 394 / 700
  left: 25%; // 150 / 600
}

.Button__background_mainColor {
  background: $mainColor;
}

.Button__background_greyColor {
  background: $greyBackgroundColor;
}

.Button__border_mainColor {
  border: 1px solid $mainColor;
}

.Button__border_greyTextColor {
  border: 1px solid $greyTextColor;
}

.Button__border_greyTextColorSelected {
  border: 2px solid $blackTextColor;
}

.Button__border_male {
  border: 1px solid $greyTextColor;
}

.Button__border_male_selected {
  border: 2px solid $maleColor;
}

.Button__border_female {
  border: 1px solid $greyTextColor;
}

.Button__border_female_selected {
  border: 2px solid $femaleColor;
}

.Button_Link__size {
  display: block;

  width: 100%;
}

.Button_Link__style {
  text-decoration: none;
}

.Button_Text {
  font-family: Roboto, sans-serif;
}

.Button_Text__size_startingPage {
  font-size: 1em; // 16 / 16
}

.Button_Text__size_signUpPage2 {
  font-size: 0.8125em; // 13 / 16
}

.Button_Text__size_signUpPage3 {
  font-size: 0.875em; // 14 / 16
}

.Button_Text__size_signUpPageGender {
  font-size: 0.875em; // 14 / 16
}

.Button_Text__size_signUpPageGenderSelected {
  font-weight: 500;
  font-size: 0.92647em; // relation was gotten from Figma
}

.Button_Text__color_white {
  color: white;
}

.Button_Text__color_mainColor {
  color: $mainColor;
}

.Button_Text__color_greyTextColor {
  color: $greyTextColor;
}

.Button_Text__color_greyTextColorSelected {
  font-weight: 500;
  color: $blackTextColor;
}

.Button__border_greyTextColor:hover {
  border: 2px solid $blackTextColor;
}

.Button__border_male:hover {
  border: 2px solid $maleColor;
}

.Button__border_female:hover {
  border: 2px solid $femaleColor;
}

.Button:hover {
  .Button_Text__color_greyTextColor {
    color: $blackTextColor;
  }

  .Button_Text__size_signUpPageGender {
    font-weight: 500;
    font-size: 0.92647em; // relation was gotten from Figma
  }

  .Button_Text__size_signUpPage2 {
    font-weight: 500;
  }
}

@media screen and (max-width: 388px) {
  .Button__size_startingPage {
    // width: 100%;
    width: 62.7%; // 235 / 375
    height: 21.2765957%; // 50 / 235;

    margin-bottom: 7.2340425%; // 17 / 235
  }
}

@media screen and (max-width: 582px) {
  .Button__size_startingPage {
    // width: 100%;
    width: 62.7%; // 235 / 375
    height: 21.2765957%; // 50 / 235;

    margin-bottom: 5%;
  }
}

@media screen and (max-width: 1150px) {
  .Button_Text__size_signUpPage2 {
    font-size: 0.68em; // ? / ?
  }
}
