@import "../../../../logic/constants/_colors";

.Suggestion__size {
  width: 48.5915493%; // 345 / 710
  height: 43.0555556%; // 465 / 1080
}

.Suggestion__style {
  border: 3px solid $maleColor;
  border-radius: 10px;
}
