@import "../../../../../logic/constants/_colors";

.GenderSelector__size {
  width: 50%; // 300 / 600
  height: 16.1428571%; // 113 / 700
}

.GenderSelector__layout_signUp2 {
  position: absolute;

  top: 27.2857143%; // 191 / 700
  left: 25%; // 150 / 600;
}

.GenderSelector_Line {
  cursor: pointer;
}

.GenderSelector_Line__size {
  position: relative;

  width: 100%; // 300 / 300
  height: 32.8571429%; // 46 / 140

  display: flex;
  align-items: center;
}

.GenderSelector_Line__style_textColor {
  color: $greyTextColor;
}

.GenderSelector_Line__style_blackTextColor {
  color: $blackTextColor;
}

.GenderSelector_Line__style_bottomBorder {
  border-bottom: 1px solid $greyTextColor;
}

.GenderSelector_Line__style_bottomBorderBlack {
  border-bottom: 1px solid $blackTextColor;
}

.Line_Text__style {
  font-size: 0.875em; // 14 / 16
  font-family: Roboto, sans-serif;
  color: inherit;
}

.Line_CheckIcon__style {
  width: 6.6666666%; // 20 / 300
}

.Line_CheckIcon__layout {
  position: absolute;

  top: 28.2608696%; // 13 / 46
  right: 3.3333333%; // 10 / 300
}

.GenderSelector_Line__style_textColor:hover {
  color: $blackTextColor;
}

.GenderSelector_Line__style_bottomBorder:hover {
  border-bottom: 1px solid $blackTextColor;
}
