@import "../../../logic/constants/_colors";

.HomeScreen {
  width: 100%;
  height: 100%;
}

.HomeScreen__style_background {
  background-image: url("/static/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.HomeScreen_WorkingSpace__layout {
  position: absolute;

  top: 0;
  left: 37.96875%; // 729 / 1920
}

.HomeScreen_WorkingSpace__layout_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeScreen_WorkingSpace__size {
  width: 36.9791667%; // 710 / 1920
  height: 100%;
}

.HomeScreen_WorkingSpace__style {
  background-color: white;

  border-left: 1px solid $pinkBorderColor;
  border-right: 1px solid $pinkBorderColor;
}

.HomeScreen_WorkingSpace__style_text {
  font-family: Roboto, sans-serif;
  font-size: 14px;

  text-align: center;
}

.WorkingSpace_Hint__layout {
  position: absolute;

  top: 15.7407407%; // 170 / 1080
}

.WorkingSpace_Hint__layout_inner {
  display: flex;
  align-items: center;
  justify-content: center;

  // padding: 10%;
}

.WorkingSpace_Hint__size {
  width: 34.7887324%; // 247 / 710
  height: 7.7777777%; // 84 / 1080
}

.WorkingSpace_Hint__style {
  font-size: 0.79166667em; // 11.0833333 / 14
  color: $greyTextColor;
}

.WorkingSpace_Hint__style_animation {
  animation: Disappear 2s linear 1;
}

.WorkingSpace_Hint__style_opacity0 {
  opacity: 0;
}

.WorkingSpace_Hint__style_displayNone {
  display: none;
}

@keyframes Disappear {
  100% {
    transform: translateY(-23%); // 254 / 1080
    opacity: 0;
  }
}
