@import "../../../../logic/constants/_colors.scss";

.Input__borders {
  border-width: 0px;
  border-bottom: 1px solid $inputBorderColor;
  outline: 0px;
}

.Input__text {
  padding-left: 2px;

  line-height: 1.25em;

  font-size: 1em; // 14 / 16
  font-family: "Roboto", sans-serif;
  // font-weight: bold;
  color: $blackTextColor;
}

.Input__text::placeholder {
  font-size: 0.875em; // 14 / 16
  font-weight: normal;
  color: $lightMainColor;
}

.Input__layout_signUp1 {
  position: absolute;

  top: 25.4285715%; // 178 / 700
  left: 25%; // 150 / 600
}

.Input__layout_signUp3 {
  position: absolute;

  top: 40.5714286%; // 284 / 700
  left: 25%; // 150 / 600
}

.Input__size {
  width: 50%; //  300 / 600
  height: 3.4285714%; // 24 / 700
}
