@import "../../../../logic/constants/_colors";

.SideBarMenu__size {
  width: 13.0208333%; // 250 / 1920
  height: 100%;
}

.SideBarMenu__layout {
  position: absolute;
  top: 0;
  left: 24.9479167%; // 479 / 1920
}

.SideBarMenu__layout_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SideBarMenu__style {
  background-color: white;

  border-left: 1px solid $pinkBorderColor;
  border-right: 1px solid $pinkBorderColor;
}

.SideBarMenu__style_text {
  font-family: Roboto, sans-serif;
  font-size: 14px;

  text-align: center;
}

.SideBar_Avatar__size_border {
  height: 9.7777778%; // 105.6 / 1080
}

.SideBar_Avatar__size {
  height: 100%;
}

.SideBar_Avatar__style {
  border-radius: 50%;
}

.SideBar_Avatar__style_border {
  padding: 2px;
  border: 1px solid $femaleColor;
  border-radius: 50%;
}

.SideBar_Avatar__layout {
  position: relative;

  top: 10.5555556%; // 114 / 1080
}

.SideBar_Name__layout {
  position: absolute;

  top: 22.7777778%; // 246 / 1080
}

.SideBar_Description__layout {
  position: absolute;
  top: 26.0185185%; // 281 / 1080

  padding-left: 12%;
  padding-right: 12%;
}

.SideBar_Description__style {
  font-size: 0.67857143em; // 10 / 14
  font-weight: 300;
  font-style: italic;

  color: $menuTextColor;
}

.SideBarMenu_MenuItems__layout {
  position: absolute;
  top: 39.2592593%; // 424 / 1080
  left: 0;
}

.SideBarMenu_MenuItems__size {
  width: 100%;
  height: 17.037037%; // 184 / 1080
}

.MenuItems_Item__layout_inner {
  display: flex;
  align-items: center;
}

.MenuItems_Item {
  cursor: pointer;

  box-sizing: border-box;
}

.MenuItems_Item__size {
  width: 100%;
  height: 21.7391304%; // 40 / 184
}

.MenuItems_Item__layout_messages {
  position: absolute;
  top: 39.1304348%; // 72 / 184
}

.MenuItems_Item__layout_settings {
  position: absolute;
  top: 78.2608696%; // 144 / 184
}

// You will have to recalculate margin-left for the selected Item. Exact to add a new class.
.MenuItems_Item__style_borderLeft {
  border-left: 4px solid $inputBorderColor;
}

.Item_Icon__size {
  height: 80%; // 32 / 40
}

.Item_Icon__layout {
  margin-left: 17.6%; // 44 / 250
}

.Item_Icon__layout_active {
  margin-left: 16%; // 40 / 250
}

.Item_Text_style {
  color: $menuTextColor;
  font-size: 1em; // 14 / 14
  font-weight: 300;
}

.Item_Text__layout {
  position: absolute;
  left: 46.4%; // 116 / 250
}

.SideBar_BottomImage__style {
  background-image: url("/static/img/sideBarBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.SideBar_BottomImage__size {
  width: 100%;
  height: 43.0555556%; // 465 / 1080
}

.SideBar_BottomImage__layout {
  position: absolute;

  top: 56.2962963%; // 608 / 1080
}
