@import "../../../logic/constants/_colors";

.StartingPage {
  width: 100%;
  height: 100%;

  min-height: 289px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: default;
}

.StartingPage_Panel {
  width: 76.0208333%; // 730 / 960
  height: 66.7962963%; // 365 / 1080

  max-width: 730px;
  min-height: 289px;
  max-height: 365px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.StartingPage_Panel__style {
  border: 1px solid $greyBorderColor;
  box-sizing: border-box;
  border-radius: 8px;
}

.Panel_ImageGridItem {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.ImageGridItem_Image__size {
  width: 68.4931507%; // 250 / 365
  height: 68.4931507%; // 250 / 365
  // height: 250px;
}

.Panel_Actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 16.4383562%; // 60 / 365
  padding-bottom: 16.7123288%; // 61 / 365;

  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;

  text-align: center;
  font-size: 16px;
}

.Actions_Text {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  width: 64.3835616%; // 235 / 365
  height: 20.2739726%; // 74 / 365
  // height: 74px;
}

.Actions_Text__marginBottom {
  // margin-top: 16.4383562%; // 60 / 365
  // margin-top: 60px;
  margin-bottom: 6.84931507%; // 25 / 365
}

.Actions_PointText {
  color: $mainColor;
  font-size: 1.9375em; // 31 / 16
  font-weight: 800;
  // font-size: 20px;
  font-style: italic;
  font-family: Timmana, sans-serif;
}

.Actions_Grey {
  color: $greyTextColor;
  font-size: 1em; // 16 / 16
  font-family: Roboto, sans-serif;
}

.Actions_Or {
  margin-top: 1.64383562%; // 6 / 365
  margin-bottom: 1.64383562%;
}

.Panel_Border {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  z-index: -1;
}

.Border {
  height: 86.3013699%; // 315 / 365

  opacity: 0.4;
  border: 1px solid $greyBorderColor;
}

.StartingPage_AppLink {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 44px; // 44 / 1080

  background: $bottomInfoPanelColor;
}

.StartingPage_AppLink__display_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.StartingPage_AppLink__fontSize_16 {
  font-size: 16px;
}

.AppLink_Text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1em; // 16 / 16

  color: #000000;
}

.AppLink_AppStoreIcon {
  width: 133px;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 582px) {
  .StartingPage {
    min-height: 578px;
  }

  .StartingPage_Panel {
    width: 100%;
    height: 100%;

    min-height: 578px;
    max-height: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .StartingPage_Panel__style {
    border-color: transparent;
  }

  .Panel_ImageGridItem {
    margin-top: 17.2413793%; // 115 / 667
    width: 53.3333333%; // 200 / 375
    height: 29.9850074%; // 200 / 667
  }

  .ImageGridItem_Image__size {
    width: 100%;
    height: 100%;
  }

  .Panel_Actions {
    width: 100%;
    height: 35.2323838%; // 235 / 667
    padding-top: 4.3%;
  }

  .Actions_Text {
    width: 62.7%; // 235 / 375
    height: 11.0944527%; // 74 / 667
  }

  .Actions__mobile_layout {
    padding-left: 5%;
    padding-right: 5%;
  }

  .Actions_Text__marginBottom {
    margin-bottom: 6.5967016%; // 44 / 667
  }

  .Actions_PointText {
    display: none;
  }

  .Actions_Or {
    display: none;
  }

  .Border {
    display: none;
  }
}

@media screen and (max-width: 388px) {
  .StartingPage {
    min-height: 578px;
  }

  .StartingPage_Panel {
    width: 100%;
    height: 100%;

    min-height: 578px;
    max-height: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .StartingPage_Panel__style {
    border-color: transparent;
  }

  .Panel_ImageGridItem {
    margin-top: 17.2413793%; // 115 / 667
    width: 53.3333333%; // 200 / 375
    height: 29.9850074%; // 200 / 667
  }

  .ImageGridItem_Image__size {
    width: 100%;
    height: 100%;
  }

  .Panel_Actions {
    width: 100%;
    // height: 100%;
    height: 35.2323838%; // 235 / 667;
    padding-top: 2.0989505%; // 14 /  667
  }

  .Actions_Text {
    width: 62.7%; // 235 / 375
    height: 11.0944527%; // 74 / 667
    // padding-left:
    // padding-top: 10%;
    // padding-bottom: 10%;
    // padding-bottom: 30%;
  }

  .Actions__mobile_layout {
    padding-left: 5%;
    padding-right: 5%;
  }

  .Actions_Text__marginBottom {
    margin-bottom: 6.5967016%; // 44 / 667
  }

  .Actions_PointText {
    display: none;
  }

  .Actions_Or {
    display: none;
  }

  .AppLink_Text {
    padding-left: 3%;
  }

  .Border {
    display: none;
  }
}
