@import "../../../../logic/constants/_colors";

.Header__size {
  width: 100%;
  height: 4.07407407%; // 44 / 1080
}

.Header__style {
  background-color: $headerBackgroundColor;

  border-bottom: 1px solid $headerBorderColor;
  box-shadow: 0 0 7px $headerBorderColor;
}

.Header__layout {
  position: absolute;

  top: 0;

  z-index: 1;
}

.Header__layout_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header_Logo__size {
  height: 68.1818182%; // 30 / 44
}
