@import "../../../logic/constants/_colors.scss";

.ErrorPage {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ErrorPage_Text__style {
  color: $blackTextColor;
  font-family: Roboto, sans-serif;
  font-size: 32px;
}
